*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
   
   
}

body{
    background-color: #cf00c5;
   background: url(happy-smile-face-yellow-ball-4quzdgb54g8bhity.jpg);
   background-size: cover;
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form{
   width: 90%;
   max-width: 600px;
   margin: auto;
   height: 800%;
   /* background: #aaacbd; */
   background: transparent;
   border: 2.5px solid rgb(255, 255, 255);
   display: flex;
   align-items: center;
   border-radius: 8px;

}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    padding: 0px 30px;

}  

form button{
    padding: 0 40px;
    height: 55%;
    background: #af8b88;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}


::placeholder{
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


#show-more-btn{
    width: 5%;
    max-width: 600px;
    margin: auto;
    height: 800%;
    /* background: #434989; */
    background: transparent;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    display: none;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cpver;
    border-radius: 5px;
}